<!-- BANNER -->
<div class="brand-hero">
  <h1>MODALE & CO</h1>
  <p>Encuentra lo último en tendencia, solo aquí</p>
</div>

<section *ngIf="product as p" class="product-page">

  <div class="product-container">

    <!-- IMAGEN -->
    <div class="product-image">
      <img
        [src]="p.main_image || 'assets/no-image.png'"
        alt="{{ p.name }}"
      />
    </div>

    <!-- INFO -->
    <div class="product-info">
      <h1>{{ p.name }}</h1>
      <p class="price">$ {{ p.price }}</p>

      <div class="description">
    <h3>Características</h3>

    <ul>
      <li *ngFor="let feature of features">
        {{ feature }}
      </li>
    </ul>
    </div>

      <p class="stock" *ngIf="p.stock > 0">
        Stock disponible: {{ p.stock }}
      </p>
      <p class="stock out" *ngIf="p.stock === 0">
        Agotado
      </p>

      <div class="actions">
        <div class="quantity-control">
          <button (click)="decrease()">−</button>
          <span>{{ quantity }}</span>
          <button (click)="increase()">+</button>
        </div>

        <button
          class="add-btn"
          [disabled]="p.stock === 0"
          (click)="addToCart()"
        >
          Agregar
        </button>
      </div>

      <!-- 🔴 MENSAJE CUANDO YA NO HAY STOCK -->
      <p class="stock-error" *ngIf="showStockModal">
        {{ stockMessage }}
      </p>
      <!-- 🔴 FIN MENSAJE -->

    </div>
  </div>

  <!-- RECOMENDADOS -->
  <section class="recommended" *ngIf="recommendedProducts.length > 0">
    <h2>También podría gustarte</h2>
    <div class="recommended-grid">
      <app-product-card
        *ngFor="let rp of recommendedProducts"
        [product]="rp"
      ></app-product-card>
    </div>
  </section>

<!-- ================= MODAL PRODUCTO AGREGADO ================= -->
<div *ngIf="showAddedModal">
  <div class="modal-backdrop" (click)="closeAddedModal()"></div>

  <div class="login-modal">
    <div class="modal-header">
      <h3>Producto agregado</h3>
      <button class="close-btn" (click)="closeAddedModal()">✕</button>
    </div>

    <div class="modal-body">
      <p>
        <strong>{{ p.name }}</strong><br>
        fue agregado correctamente al carrito 🛒
      </p>

      <button
        class="checkout-btn"
        style="margin-top: 10px"
        (click)="closeAddedModal()">
        Seguir comprando
      </button>
    </div>
  </div>
</div>

</section>
