.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    background-color: #ffffff;
    font-family: 'Josefin Slab', serif;
    
    /* Línea negra ligera */
    border-bottom: 5px solid rgb(0, 0, 0); /* negro muy tenue */
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 10px; /* espacio entre logo y búsqueda */
}

.logo {
    max-height: 60px;
    width: auto;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 50px;
    margin: 0;
    padding: 0;
}

.nav-links li {
    cursor: pointer;
    text-decoration: underline;
}

.menu-btn {
    display: none; /* aparecerá solo en mobile */
    background: none;
    border: none;
    font-size: 28px;
    color: black;
    cursor: pointer;
    padding: 0;
}

/* Buscador */
.search-container {
    position: relative;
}

.search-container input {
    padding: 5px 25px;
}

.search-icon {
    position: absolute;
    left: 5px;
    top: 50%;               /* apunta al medio del input */
    transform: translateY(-50%); /* centra verticalmente */
    pointer-events: none;
}

.clear-icon {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: none;
}

/* Responsive */
/* Mobile */
@media (max-width: 768px){
  .menu-btn {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    background-color: white;
    gap: 10px;
    padding: 10px 0;
    transition: all 0.3s ease;
    text-align: center;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    padding: 10px 0;
  }
}

