/*.sidebar-card {
  width: 280px;
  background: #ffffff;
  border-radius: 16px;
  padding: 1.25rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  font-family: 'Josefin Slab', serif;
}*/
.sidebar-card {
  width: 280px;
  background: #ffffff;
  /*border-radius: 16px;*/
  border-radius: 16px 16px 0 0;
  padding: 1.25rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  font-family: 'Josefin Slab', serif;

  height: 100vh;
  display: flex;
  flex-direction: column;
}

.breadcrumb {
  font-size: 0.75rem;
  color: #6b7280;
  margin-bottom: 1rem;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 1.5rem;
}

.avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
}

.user-info h3 {
  font-size: 0.95rem;
  font-weight: 600;
  margin: 0;
}

.menu {
  display: flex;
  flex-direction: column;
}

.menu a {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0.65rem 0.75rem;
  border-radius: 8px;
  text-decoration: none;
  color: #000;
  font-size: 0.9rem;
  transition: background-color 0.2s;
}

.menu a i {
  width: 18px;
  font-size: 16px;
}

.menu a:hover {
  background-color: #f9fafb;
}

.menu a.active {
  background-color: #fde2e8;
  color: #d6336c;
  font-weight: 500;
}

.logout {
  /*margin-top: 1.5rem;*/
  margin-top: auto;
  border-top: 1px solid #e5e7eb;
  padding-top: 1rem;
}

.logout a {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  color: #6b7280;
  font-size: 0.9rem;
}

.logout a i {
  width: 18px;
}

.logout a:hover {
  color: #ef4444;
}

