<div class="category-detail">
  <section class="hero-banner">
    <h1 class="category-title">{{ categoryName }}</h1>
    <p>DESCUBRE TU BELLEZA NATURAL CON NUESTRA COLECCIÓN EXCLUSIVA</p>
  </section>

  <div class="breadcrumb">
    <a routerLink="/home">Inicio</a> /
    <a routerLink="/categorias">Categorias</a> /
    <span class="current-page">{{ categoryName }}</span>
  </div>

  <!-- 🔥 GRID DE PRODUCTOS DINÁMICO -->
  <div class="product-grid">

    <div *ngIf="products.length === 0">
      No hay productos en esta categoría
    </div>

    <app-product-card
      *ngFor="let product of products"
      [product]="product"
    ></app-product-card>

  </div>
</div>
